@import 'vars.module';

.about {
    padding: 5rem 2rem;
    background-color: $lightD;
    border-radius: 4rem;

    figure {
        max-width: 550px;
        margin: 0 auto 6rem;

        div {
            position: relative;
            width: 100%;
            aspect-ratio: 2613 / 1583;
            margin-bottom: 1rem;

            img {
                border-radius: 0.5rem;
                border: 4px solid $blue !important;
            }
        }

        figcaption {
            font-style: italic;
        }
    }

    p {
        max-width: 550px;
        margin: 0 auto 1rem;

        &:last-child {
            margin-bottom: 6rem;
        }
    }

    b {
        font-family: 'Aclonica', sans-serif;
    }
}