@import 'vars.module';

.container {
    padding: 5rem 2rem;
    background-color: $lightD;
    border-radius: 4rem;

    p {
        max-width: 500px;
        margin: 0 auto 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto 2rem;

        .formGroup {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 0.5rem;

            input {
                flex-grow: 1;
            }
        }

        input, textarea {
            margin-bottom: 1rem;
        }
        
        textarea {
            min-height: 300px;
        }

        button {
            width: fit-content;
            font-size: 0.9rem;
            align-self: flex-end;
        }

        p {
            margin: 1rem 0;
        }
    }

    .bayes {
        position: relative;
        width: 200px;
        aspect-ratio: 125 / 27;
        margin-top: 2rem;
        margin-left: calc(50% - 250px);
    }

    address {
        font-style: normal;
        max-width: 500px;
        margin: 0 auto 1rem;
    }
}