@import 'vars.module';

* {
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
}

::selection {
    background-color: $blue;
    color: white;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: $light;
}

p, address {
    font-size: 1.1rem;
}

a {
    color: $blue;
    text-decoration: none;

    &:hover {
        border-bottom: 1px solid $blue;
    }
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $red;
    border: 2px solid $redD;
    border-bottom-width: 4px;
    border-radius: 0.75rem;
    padding: 0.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        border-bottom-width: 2px;
        margin-top: 2px;
    }
}

input, textarea {
    background-color: $yellowL2;
    border: 2px solid $yellowD;
    border-radius: 0.5rem;
    font-size: 1rem;

    &:focus {
        outline: none;
        border-color: $red;
    }
}

input {
    height: 2.5rem;
    padding: 0 0.5rem;
}

textarea {
    min-height: 100px;
    padding: 0.5rem;
    resize: vertical;
}
