.preamble {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media screen and (min-width: 1024px) {
        display: none;
    }

    .tag {
        padding: 0 2rem;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        //color: $blue;
    }

    .signUpContainer {
        width: 100%;
        padding: 0 2rem;
    }

    .chevron {
        //color: $blue;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
}


.homeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    //background-color: $lightD;
    border-radius: 4rem;
    margin-bottom: 4rem;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        padding-left: 2rem;
    }
}

.screenshotContainer {
    position: relative;
    width: 100%;
    aspect-ratio: 14/27;

    @media screen and (min-width: 768px) {
        width: 50%;
        margin: 0 auto;
    }

    @media screen and (min-width: 1024px) {
        position: sticky;
        height: 70vh;
        width: 30vw;
        top: 15vh;
        margin-top: 10vh;
    }

    @media screen and (min-width: 1500px) {
        height: 95vh;
        width: 40%;
        top: 2.5vh;
        margin-left: 20rem;
        margin-top: -4rem;
        margin-bottom: 2rem;
    }
}

.contentContainer {
    padding: 2rem 2rem 8rem;

    @media screen and (min-width: 1024px) {
        padding: 20vh 8rem 30vh 5rem;
        max-width: 800px;
    }

    .largeTag {
        display: none;
        margin-bottom: 30rem;

        h1 {
            font-family: 'Nunito', sans-serif;
            font-weight: black;
            font-size: 3rem;
            //color: $red;
            //text-shadow: 1px 1px 0 $yellowD;

            span {
                font-family: inherit;
                //color: $blue;
            }
        }

        @media screen and (min-width: 1024px) {
            display: block;
        }
    }

    .storeBtnLink {
        &:hover {
            border-bottom: none;
        }
    }

    .storeBtnGoogle {
        height: 100px;
    }

    .storeBtnApple {
        height: 70px;
        position: relative;
        top: -15px;
    }

    .featureGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 8rem);
        grid-gap: 2rem;
        margin-top: 1rem;

        div {
            svg {
                display: block;
                height: 2rem;
                width: 2rem;
                //fill: $yellowD;
                margin-bottom: 1rem;
            }
        }
    }

    section:not(:last-of-type) {
        margin-bottom: 5rem;

        @media screen and (min-width: 1024px) {
            margin-bottom: 30vh;
        }
    }

    h2 {
        margin-bottom: 0;
        font-family: 'Nunito', sans-serif;
        font-weight: normal;
        font-size: 2rem;
        //color: $blue;
    }

    p {
        margin-top: 0.5rem;
    }

    ul {
        margin-top: 0.5rem;
    }

    li {
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
    }

    .blankspace {
        @media screen and (min-width: 1024px) {
            height: 50vh;
        }
    }
}