@import 'vars.module';

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;

    header {
        position: fixed;
        width: 440px;
        height: 100vh;
        padding: 2rem 3rem;
        z-index: 100;
    }

    h1 {
        font-family: 'Aclonica', sans-serif;
        font-size: 4rem;
        color: $red;
        text-shadow: 3px 1px $blue;
        transition: $transition;

        &:hover {
            color: $yellow;
        }

        &:active {
            text-shadow: none;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        padding-left: 2rem;

        a {
            width: fit-content;
            margin-bottom: 1rem;
        }
    }

    aside {
        position: absolute;
        bottom: 5rem;
        width: 340px;
        height: 200px;
        border: 2px solid $night;
        border-radius: 0.5rem;
        padding: 1rem;

        .signUp {
            position: absolute;
            top: -1rem;
            left: -0.5rem;
            padding-right: 0.25rem;
            font-family: 'Syne', sans-serif;
            font-weight: 800;
            font-size: 1.5rem;
            color: $night;
            background-color: $light;
        }

        .getAccess {
            color: black;

            .manicule {
                font-size: 1.5rem;
                line-height: 0.5;
                position: relative;
                top: 3px;
            }

            .preview {
                font-weight: 900;
            }
        }

        form {
            width: 100%;
            margin-top: 1rem;
        }
    }

    main {
        position: relative;
        width: 100%;
        padding: 5rem 0 5rem 440px;
    }
}