.container {
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 3rem;

    form {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    input {
        flex-grow: 1;
        max-width: 500px;
        border-radius: 0.75rem;
        margin-right: 1rem;
    }

    .btnContainer {
        flex-shrink: 0;
        height: 100%;
    }

    button {
        font-size: 0.9rem;
    }

    p {
        text-align: center;
        margin-bottom: 0;

        @media screen and (min-width: 1024px) {
            text-align: left;
            padding: 0 !important;
        }
    }
}